# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

/.venv/
/**/*.pv
/BehavioralLandmarks_Python/Data/wandb/*/
/BehavioralLandmarks_Python/Data/wandb/
/BehavioralLandmarks_Python/Data/Full_Model/wandb/
/BehavioralLandmarks_Python/Step1/Data/
/BehavioralLandmarks_Python/Tool/Data/TemporalLandmarks/
/BehavioralLandmarks_Python/Tool/Data/SpatialLandmarks/
/BehavioralLandmarks_Python/Tool/Data/NoLandmarks/
/BehavioralLandmarks_Python/Tool/Data/NoLandmarksExt/
/BehavioralLandmarks_Python/Data/Images/TemporalLandmarks/
/BehavioralLandmarks_Python/Data/Images/SpatialLandmarks/
/BehavioralLandmarks_Python/Data/Images/NoLandmarks/
/BehavioralLandmarks_Python/Data/Images/NoLandmarksExt/
/BehavioralLandmarks_Python/Data/Images/TemporalLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Images/SpatialLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Images/NoLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Images/NoLandmarksExt/TestData/
/BehavioralLandmarks_Python/Data/Trajectories/TemporalLandmarks/
/BehavioralLandmarks_Python/Data/Trajectories/SpatialLandmarks/
/BehavioralLandmarks_Python/Data/Trajectories/NoLandmarks/
/BehavioralLandmarks_Python/Data/Trajectories/NoLandmarksExt/
/BehavioralLandmarks_Python/Data/Trajectories/TemporalLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Trajectories/SpatialLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Trajectories/NoLandmarks/TestData/
/BehavioralLandmarks_Python/Data/Trajectories/NoLandmarksExt/TestData/
/BehavioralLandmarks_Python/Data/PythonFiles/
/BehavioralLandmarks_Python/Data/PythonFiles/TestData/
/BehavioralLandmarks_Python/Step1/Models/
/BehavioralLandmarks_Python/Step1/wandb/
# /Framework/Models/**/*.pt
# /Datasets/
/BehavioralLandmarks_Unity/[Ll]ibrary/
/BehavioralLandmarks_Unity/[Tt]emp/
/BehavioralLandmarks_Unity/[Oo]bj/
/BehavioralLandmarks_Unity/[Bb]uild/
/BehavioralLandmarks_Unity/[Bb]uilds/
/BehavioralLandmarks_Unity/[Ll]ogs/
/BehavioralLandmarks_Unity/[Uu]ser[Ss]ettings/
/BehavioralLandmarks_Unity/venv

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/BehavioralLandmarks_Unity/[Mm]emoryCaptures/

# Recordings can get excessive in size
# /Video-to-Crowds-Unity/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# # Autogenerated Jetbrains Rider plugin
# /Video-to-Crowds-Unity/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# # Unity3D generated file on crash reports
# /Video-to-Crowds-Unity/sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# # Crashlytics generated file
# /Video-to-Crowds-Unity/crashlytics-build.properties

# # Packed Addressables
# /Video-to-Crowds-Unity/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# # Temporary auto-generated Android Assets
# /Video-to-Crowds-Unity/[Aa]ssets/[Ss]treamingAssets/aa.meta
# /Video-to-Crowds-Unity/[Aa]ssets/[Ss]treamingAssets/aa/*
