# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

/.venv/
/**/*.pv
/SocialLandmarks_Python/Data/wandb/*/
/SocialLandmarks_Python/Data/wandb/
/SocialLandmarks_Python/Data/Full_Model/wandb/
/SocialLandmarks_Python/Step1/Data/
/SocialLandmarks_Python/Tool/Data/Single/
/SocialLandmarks_Python/Tool/Data/Join/
/SocialLandmarks_Python/Tool/Data/Visit/

/SocialLandmarks_Python/Data/Images/Single/
/SocialLandmarks_Python/Data/Images/Join/
/SocialLandmarks_Python/Data/Images/Visit/
/SocialLandmarks_Python/Data/Images/Meet/
/SocialLandmarks_Python/Data/Images/Ignore/
/SocialLandmarks_Python/Data/Images/Single/TestData/
/SocialLandmarks_Python/Data/Images/Join/TestData/
/SocialLandmarks_Python/Data/Images/Visit/TestData/
/SocialLandmarks_Python/Data/Images/Meet/TestData/
/SocialLandmarks_Python/Data/Images/Ignore/TestData/

/SocialLandmarks_Python/Data/Trajectories/Single/
/SocialLandmarks_Python/Data/Trajectories/Join/
/SocialLandmarks_Python/Data/Trajectories/Visit/
/SocialLandmarks_Python/Data/Trajectories/Meet/
/SocialLandmarks_Python/Data/Trajectories/Ignore/
/SocialLandmarks_Python/Data/Trajectories/Single/TestData/
/SocialLandmarks_Python/Data/Trajectories/Join/TestData/
/SocialLandmarks_Python/Data/Trajectories/Visit/TestData/
/SocialLandmarks_Python/Data/Trajectories/Meet/TestData
/SocialLandmarks_Python/Data/Trajectories/Ignore/TestData

/SocialLandmarks_Python/Data/PythonFiles/
/SocialLandmarks_Python/Data/PythonFiles/TestData/
/SocialLandmarks_Python/Step1/Models/
/SocialLandmarks_Python/Step1/wandb/
# /Framework/Models/**/*.pt
# /Datasets/
/SocialLandmarks_Unity/[Ll]ibrary/
/SocialLandmarks_Unity/[Tt]emp/
/SocialLandmarks_Unity/[Oo]bj/
/SocialLandmarks_Unity/[Bb]uild/
/SocialLandmarks_Unity/[Bb]uilds/
/SocialLandmarks_Unity/[Ll]ogs/
/SocialLandmarks_Unity/[Uu]ser[Ss]ettings/
/SocialLandmarks_Unity/venv

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/SocialLandmarks_Unity/[Mm]emoryCaptures/

# Recordings can get excessive in size
# /Video-to-Crowds-Unity/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# # Autogenerated Jetbrains Rider plugin
# /Video-to-Crowds-Unity/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# # Unity3D generated file on crash reports
# /Video-to-Crowds-Unity/sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# # Crashlytics generated file
# /Video-to-Crowds-Unity/crashlytics-build.properties

# # Packed Addressables
# /Video-to-Crowds-Unity/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# # Temporary auto-generated Android Assets
# /Video-to-Crowds-Unity/[Aa]ssets/[Ss]treamingAssets/aa.meta
# /Video-to-Crowds-Unity/[Aa]ssets/[Ss]treamingAssets/aa/*
